.header {
    display: flex;
    justify-content: space-between;
}

.header-app-name {
}

.header-links {
    float: right;
}

.authentication-pages {
    text-align: center;
}

.home-view {
    display: grid;
    height: 100vh;
}

.grid-home-menu {
    grid-area: 1/ 1/ 4 / 1;
}

.grid-recipe-search {
    grid-area: 1 / 2 / 4/ 4;
}

.recipe-search {
    width: 100%;
    text-align: center;
}

.recipe-types {
    display: flex;
    flex-wrap: wrap;
}

.recipe-type {
    border: 1px solid black;
    padding: 20px;
    margin : 10px;
}

.recipe-list {
    text-align: center;
}

.recipe-link {
    border: solid;
    margin : 20px;
}

.recipe-page {
        
}